{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url 'stock_market'%}">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">About</span>
                </a></li>
            </ul>
        </div>
    </nav>            
</body>
</html>