/* General styles */
body {
    font-family: Arial, sans-serif;
}

.user-profile-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

/* User Details styles */
.user-details-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.user-details p {
    margin: 0;
}

/* Language Selection styles */
.language-selection-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.language-selection label {
    display: block;
    margin-bottom: 10px;
}

.language-selection select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.language-selection button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.language-selection button:hover {
    background-color: #0056b3;
}

/* Change Password styles */
.change-password-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
}

.change-password label {
    display: block;
    margin-bottom: 10px;
}

.change-password input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.change-password button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.change-password button:hover {
    background-color: #0056b3;
}