{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help-Centre</title>
    <link rel="stylesheet" href="{% static 'css/help.css' %}">
</head>
<body>
    <div class="help-container">
        <div class="section-container">
            <h1>Welcome to Finwise Help-Centre</h1>
        </div>

        <!-- Overview Section -->
        <div class="section-container">
            <h2>Overview</h2>
            <p>Welcome to the Finwise Help Center! Whether you're new to our platform or a seasoned user, this page is designed to provide you with quick answers to common questions and guidance on using our services effectively.</p>
        
        </div>

        <!-- FAQs Section -->
        <div class="section-container">
            <h2>Frequently Asked Questions</h2>
            <ul>
                <li><strong>How do I sign up for an account?</strong><br>To create an account, simply click on the "Sign Up" button on the homepage and follow the prompts to enter your information. Once completed, you'll receive a confirmation email to verify your account.</li>
                <li><strong>How can I reset my password?</strong><br>If you've forgotten your password, you can reset it by clicking on the "Change Password" which is available on the user profile page.</li>
                <li><strong>What services do you offer?</strong><br>Finwise offers a range of financial services, including budgeting tools, investment tracking, goal setting, and personalized recommendations based on your financial goals.</li>
                <li><strong>Is my financial information secure?</strong><br>We take the security of your financial information very seriously. Our website employs industry-standard encryption and security measures to protect your data. Additionally, we never store your banking credentials on our servers.</li>
            </ul>
        </div>

        <!-- Contact Us Section -->
        <div class="section-container">
            <h2>Contact Us</h2>
            <p>If you have any further questions or need assistance, please don't hesitate to contact our support team at <a href="mailto:support@finwise.com">support@finwise.com</a>. We're here to help!</p>
        </div>
    </div>
<div class="navigation-buttons">
        <button onclick="window.location.href='{% url 'dashboard' %}'">Dashboard</button>
</div>


</body>
</html>
